/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/01/2020, 14:15:13
    Author     : DANIEL
*/

.label{
    -fx-font-size: 14;
}

#jugador{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.button{
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
    -fx-font-family: Times New Roman;
    -fx-background-color: linear-gradient(#F9524F,#F26C5C);  
    -fx-opacity: 0.60;
}

#alineacion{
     -fx-font-size: 20;
     -fx-font-weight: bold;
}

.alert{
    -fx-font-size: 30;
}


#cuadroInfo{
    -fx-fill: #75BADC;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-opacity: 0.90; 
}
